@use "@/index.module.scss" as *;

.tile {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: $grey-1;
    width: 100%;
    max-width: 100%;
    background-color: $white;

    @media (min-width: 768px) {
        max-width: 450px;
    }
}

.image-container {
    position: relative;
    width: 100%;

    .productImage {
        display: block;
        width: 100%;
        height: auto;
        aspect-ratio: 3/4;
    }
}

.size-button {
    @include font-10;
    min-width: auto;
    height: 26px;
    min-height: 26px;
    gap: $space-4;
    padding: 0 $space-8;

    @media (min-width: 768px) {
        @include font-12;
        height: 30px;
        min-height: 30px;
        gap: $space-8;
    }
}

.swatch-container {
    display: flex;
    align-items: center;
    gap: $space-4;
    margin-top: $space-16;
    padding: 1px;
    flex-wrap: wrap;
    overflow: hidden;
    max-height: $space-32;

    &.expanded {
        max-height: none;
        overflow: visible;
    }

    @media (min-width: 768px) {
        gap: $space-8;
    }
}


.more-label {
    background: none;
    border: none;
    padding: 0;
    @include font-8;
    text-decoration: underline;
    white-space: nowrap;
    cursor: pointer;
    margin-left: auto;
    font-family: inherit;

    &:hover {
        opacity: 1;
    }

    @media (min-width: 768px) {
        @include font-10;
    }
}

.flags-container {
    position: absolute;
    bottom: $space-8;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    gap: $space-4;
    z-index: 1;

    @media (min-width: 768px) {
        bottom: $space-16;
    }
}

.flag {
    padding: $space-4 $space-8;
    background-color: $white;
    color: $grey-1;
    white-space: nowrap;
    width: fit-content;

    @include font-12-b;

    &.sale {
        color: $red-1;
    }

    &.special {
        color: $blue-1;
    }
}

.info-container {
    display: flex;
    flex-direction: column;
    padding: $space-8 $space-8 $space-16 $space-8;

    @media (min-width: 768px) {
        padding: $space-8 $space-8 $space-32 $space-8;
    }
}

.brand-name {
    @include font-12-b;

    @media (min-width: 768px) {
        @include font-14-b;
    }
}

.product-name {
    @include font-12;
    margin: 0;

    @media (min-width: 768px) {
        @include font-14;
    }
}