@use "@/index.module.scss" as *;

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  padding: 32px 0;
  font-family: Open Sans, Helvetica, Arial, sans-serif;
}

.header {
  font-size: 20px;
}

.breakpoint {
  width: 100%;
  border: 0;
  background-color: $red-1;
  cursor: pointer;
}

.breakpointValue {
  margin: 16px;
}

.breakpointXS {
  max-width: 767px;

  @media (max-width: 767px) {
    background-color: $green-1;
  }
}

.breakpointS {
  @media (min-width: 768px) {
    background-color: $green-1;
  }
}

.breakpointM {
  @media (min-width: 1024px) {
    background-color: $green-1;
  }
}

.breakpointL {
  @media (min-width: 1200px) {
    background-color: $green-1;
  }
}

.breakpointXL {
  @media (min-width: 1400px) {
    background-color: $green-1;
  }
}
