@use "@/index.module.scss" as *;

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $space-32;
  padding: $space-32;
  font-family:
    Open Sans,
    Helvetica,
    Arial,
    sans-serif;
}

.iconsWrapper {
  max-width: 1024px;
}

.header {
  font-size: 20px;
}

.subtitle {
  margin-bottom: $space-32;
  font-size: 18px;
  text-align: center;
}

.icons {
  display: flex;
  gap: $space-8;
  flex-wrap: wrap;
}
