@use "@/index.module.scss" as *;

.swatch {
    width: $space-16;
    height: $space-16;
    border-radius: 50%;
    border: 1px solid $grey-3;
    cursor: pointer;
    padding: 0;
    flex-shrink: 0;

    @media (min-width: 768px) {
        width: $space-24;
        height: $space-24;
    }

    &:hover {
        border-color: $grey-1;
    }
}

.active {
    border: 2px solid $grey-1;
    transform: scale(1.1);
}