@use "@/index.module.scss" as *;

.price-container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    column-gap: $space-4;
    row-gap: 0;

    @include font-12-b;

    @media (min-width: 768px) {
        column-gap: $space-8;
        @include font-14-b;
    }
}

.price-original,
.sale-price {
    white-space: nowrap;
}

.price-original {
    text-decoration-line: line-through;
}

.sale-price {
    color: $red-1;
}