@use "@/index.module.scss" as *;

.list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  row-gap: 0;
  column-gap: $space-8;
}

.item {
  display: flex;
  row-gap: 0;
  column-gap: $space-8;
  align-items: center;

  &>a {
    text-decoration: none;
    padding: $space-8 0;

    @include font-12-sb($grey-1);

    @media (min-width: 768px) {
      padding: 10px 0;

      @include font-14-sb($grey-1);
    }
  }
}

.icon {
  width: $space-4;
  height: $space-8;

  @media (min-width: 768px) {
    width: 6px;
    height: 10px;
  }
}
