@use "@/index.module.scss" as *;

.button {
  padding: $space-8 $space-16;
  background-color: transparent;
  border: 1px solid $grey-1;
  border-radius: 3px;

  @include font-14($grey-1);

  &:hover {
    background-color: $blue-4;
    opacity: unset;
  }
}

.active {
  background-color: $blue-4;

  @include font-14-b($grey-1);
}

.disabled {
  background: linear-gradient(to bottom right, hsla(0, 0%, 100%, 0) calc(50% - 1px), $grey-3 50%, hsla(0, 0%, 100%, 0) calc(50% + 1px));
  border-color: $grey-3;
  color: $grey-3;

  &:hover {
    background-color: unset;
  }
}

.active-disabled {
  background: linear-gradient(to bottom right, hsla(0, 0%, 100%, 0) calc(50% - 1px), $grey-2 50%, hsla(0, 0%, 100%, 0) calc(50% + 1px));
  border-color: $grey-2;
  color: $grey-2;
}
