@use "@/index.module.scss" as *;

.wrapper {
  display: flex;
  flex-direction: column;
  gap: $space-4;
  max-width: 343px;
  cursor: text;

  @media (min-width: 768px) {
    max-width: 570px;
  }
}

.labelWrapper {
  display: flex;
  gap: $space-4;
}

.label {
  @include font-14-b;
}

.optionalText {
  @include font-14-b($color: $grey-2);
}

.inputWrapper {
  display: flex;
  align-items: center;
  background-color: $white;
  border: 1px solid $grey-3;

  &:focus-within {
    border-color: $grey-1;
  }
}

.inputWrapperError {
  border: 1px solid $red-1;
}

.input {
  appearance: none;
  margin: 0 $space-16;
  padding: 0;
  height: 42px;
  width: 100%;
  border: none;
  outline: none;

  @include font-16;

  &::placeholder {
    @include font-16($color: $grey-2);
  }
}

.icon {
  height: $space-16;
  width: $space-16;
}

.inputIcon {
  @extend .icon;

  margin-right: $space-16;
  cursor: pointer;
}

.helperText {
  display: flex;
  align-items: center;
  gap: $space-4;

  @include font-12;
}

.errorText {
  @extend .helperText;

  @include font-12($color: $red-1);
}
