@use "@/index.module.scss" as *;

.docs-story {
  background-color: $sky-4;
}

.docs-links {
  @include font-14;

  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  background-color: $grey-1;

  a {
    padding: $space-4 $space-8;
    color: $white;
    text-decoration: none;
  }
}
