@use "@/index.module.scss" as *;

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  padding: 32px;
  font-family: Open Sans, Helvetica, Arial, sans-serif;
}

.header {
  font-size: 20px;
}

.fontsWrapper {
  display: flex;
  flex-direction: column;
}

.fontButton {
  margin-top: $space-8;
  border: 0;
  text-align: left;
  background-color: $white;
  cursor: pointer;
}

.subtitle {
  @include font-16;
}

.font10 {
  @include font-10;
}

.font10SB {
  @include font-10-sb;
}

.font10B {
  @include font-10-b;
}

.font10EB {
  @include font-10-eb;
}

.font12 {
  @include font-12;
}

.font12SB {
  @include font-12-sb;
}

.font12B {
  @include font-12-b;
}

.font12EB {
  @include font-12-eb;
}

.font14 {
  @include font-14;
}

.font14SB {
  @include font-14-sb;
}

.font14B {
  @include font-14-b;
}

.font14EB {
  @include font-14-eb;
}

.font16 {
  @include font-16;
}

.font16SB {
  @include font-16-sb;
}

.font16B {
  @include font-16-b;
}

.font16EB {
  @include font-16-eb;
}

.font20 {
  @include font-20;
}

.font20SB {
  @include font-20-sb;
}

.font20B {
  @include font-20-b;
}

.font20EB {
  @include font-20-eb;
}

.font24 {
  @include font-24;
}

.font24SB {
  @include font-24-sb;
}

.font24B {
  @include font-24-b;
}

.font24EB {
  @include font-24-eb;
}

.font32 {
  @include font-32;
}

.font32SB {
  @include font-32-sb;
}

.font32B {
  @include font-32-b;
}

.font32EB {
  @include font-32-eb;
}

.font40 {
  @include font-40;
}

.font40SB {
  @include font-40-sb;
}

.font40B {
  @include font-40-b;
}

.font40EB {
  @include font-40-eb;
}

.font60 {
  @include font-60;
}

.font60SB {
  @include font-60-sb;
}

.font60B {
  @include font-60-b;
}

.font60EB {
  @include font-60-eb;
}
