@use "@/index.module.scss" as *;

.container {
	max-width: 1280px;
	width: 100%;
}

.placeholderCard {
	aspect-ratio: 3 / 4;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	padding: $space-16;
	@include font-16-b($white);
}

.topicCard {
	display: flex;
	flex-direction: column;
	gap: $space-8;
	cursor: pointer;
}

.topicImage {
	width: 100%;
	aspect-ratio: 3 / 4;
	object-fit: cover;
	display: block;
}

.topicLabel {
	@include font-14-b;

	@media (min-width: 768px) {
		@include font-16-b;
	}
}
