@use "@/index.module.scss" as *;

.tableWrapper {
	overflow: auto;
}

.table {
	border-spacing: 0;
	background-color: $white;
	width: 100%;
}

.cell {
	width: 105px;
	min-width: 105px;
	height: 66px;
	padding: $space-8;
	text-align: center;
	border-bottom: 1px solid $grey-3;
	white-space: wrap;

	@include font-12;
}

.cellHeader {
	font-weight: bold;
	border-bottom: 1px solid $grey-2;
}

.cellSticky {
	position: sticky;
	left: 0;
	width: 133px;
	min-width: 133px;
	background-color: $white;
	font-weight: bold;
	text-align: left;
	z-index: 16;
	box-shadow: 2px 0 4px 0px rgba(51, 51, 51, 0.2);
	clip-path: inset(0 -16px 0 0);
}

.cellHover:hover {
	background-color: $grey-3;
}

.cellHighlight {
	background-color: $grey-4;
}

.cellLastRow {
	border-bottom: none;
}

.infoText {
	margin: $space-8 0;
	padding-right: $space-16;

	@include font-10;

	@media (min-width: 768px) {
		margin: $space-16 0;
		padding-right: 0;
	}
}
