@use "@/index.module.scss" as *;

$cell-height: 66px;
$color-highlight-light: $grey-4;
$color-highlight-dark: $grey-3;

.tableWrapper {
	position: relative;
	box-sizing: border-box;
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
	border: 1px solid $grey-3;
	margin-top: $space-16;

	&.smallTable {
		max-width: 359px;

		@media (max-width: 767px) {
			width: 100%;
		}
	}

    table {
        box-sizing: border-box;
        border-collapse: separate;
        white-space: wrap;
        border-spacing: 0;
        position: relative;
        z-index: 1;
        background-color: $white;
        width: 100%;
        table-layout: auto;
        border: none;

        td,
        th {
            box-sizing: border-box;
            position: relative;
            width: 105px;
            min-width: 105px;
            height: $cell-height;
            padding: $space-8;
            text-align: center;
            @include font-12;
            border-bottom: 1px solid $grey-3;
        }

        th {
            font-weight: bold;
        }

        thead th {
            border-bottom: 1px solid $grey-2;
        }

        tbody tr:last-of-type td,
        tbody tr:last-of-type th {
            border-bottom: none;
        }

        th:first-child,
        td:first-child {
            position: sticky;
            left: 0;
            top: 0;
            width: 133px;
            min-width: 133px;
            text-align: left;
            box-shadow: 2px 2px 4px 0 rgb(51 51 51 / 20%);
            background-color: $white;
            border-right: 1px solid $blue-4;
            z-index: 2;
        }

        &.noFirstColumnStyle {

            th:first-child,
            td:first-child {
                position: static;
                box-shadow: none;
                border-right: none;
                width: 105px;
                min-width: 105px;
                text-align: center;
            }
        }

        &.noShadow {

            th:first-child,
            td:first-child {
                box-shadow: none;
            }
        }

        &.centerFirstColumn {

            th:first-child,
            td:first-child {
                text-align: center;
            }
        }

        &.normalFirstColumnFont {
            tbody th:first-child {
                font-weight: normal;
            }
        }


        td:hover:not(:first-child)::after,
        thead th:hover:not(:first-child)::after {
            content: "";
            position: absolute;
            background-color: $color-highlight-light;
            left: 0;
            top: -5000px;
            height: 10000px;
            width: 100%;
            z-index: -1;
        }

        tbody tr:hover>td,
        tbody tr:hover>th {
            background-color: $color-highlight-light;
        }

        thead tr:hover>th {
            background-color: $color-highlight-light;
        }

        tbody tr:hover>td:hover,
        tbody tr:hover>th:hover:not(:first-child),
        thead tr:hover>th:hover {
            background-color: $color-highlight-dark;
        }
    }
}

.infoText {
	margin: $space-8 0;
	padding-right: $space-16;
	@include font-10;

	@media (min-width: 768px) {
		margin: $space-16 0;
		padding-right: 0;
	}
}